#customedLabel
{
    background-color: gray;
}

.mainText {
    margin-bottom: 10px;
}

.formatEditorBox{
    width: 200px;
    height: 200px;
    background: lightgray;
    border: solid 2 black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

.lists{
    background-color: white;
    border:solid 2 black;
    padding: 5px;
    padding-top: 2px;
    height: 50px;
}

.selected {
    background-color: lightskyblue;
}

.cell {
    margin-left: 10px;
}

.inputBox {
    width: 100px;
}

.applyButton {
    background: #65a9d7;
    padding: 5px 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    color: white;
    font-size: 14px;
    font-family: Georgia, serif;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
}

.applyButton:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
}

.applyButton:active {
    border-top-color: #1b435e;
    background: #1b435e;
}
